*
    box-sizing: border-box
@font-face
    font-family: 'GT Super Display'
    src: url('../fonts/GT Super Display.woff2') format('woff2')
    src: url('../fonts/GT Super Display.woff') format('woff')
    font-weight: bold
    font-style: normal
    font-display: swap
