.tagline
    background-color: $green
    padding: 110px 0px 80px 0px
    &__logo
        font-family: GT Super Display
        font-style: normal
        font-weight: 900
        font-size: 109px
        line-height: 110px
        letter-spacing: 2px
        color: $white
        &-pink
            color: #F09C96
    &__container
        display: flex
        justify-content: space-between
        align-items: start
        background: url('../img/tagline/pink-line.png')
        background-repeat: no-repeat
        background-position: top -19px right 10px
    &__img
        margin-right: 8px
    &__button
        margin-top: 43px
    &__free-days
        margin-top: 29px
        font-family: Roboto
        font-style: normal
        font-weight: normal
        font-size: 12px
        line-height: 13px
        color: $white
.pic
    &-top
        position: relative
        margin-left: -235px
        margin-bottom: -10px
    &-girl
        position: absolute
        top: -30px
        left: -30px
    &-bottom
        position: relative
    &-men
        position: absolute
        top: -30px
        left: -30px
